* {
  background-color: #ECFBFF;
}

html {
  height: 100vh;
  padding-bottom: 3em;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

.main-header {
  background-color: #D1B8C7;
  border: 2px solid #405249;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-header span {
  background-color: #D1B8C7;
}

.navButton {
  background-color: #D1B8C7;
  font-size: 130%;
  margin: 1%;
  height: 50%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #37515C;
}
.navButton:hover {
  cursor: pointer;
}
.navButton:active {
  background-color: #D1AA8E;
  outline: #9CD199;
}

h1 {
  background-color: #D1B8C7;
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

.user-info {
  background-color: #D1B8C7;
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%;
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.search-button {
  border: 1px solid #405249;
  width: 20%;
  height: 58px;
  margin-top: 3px;
}

.search-image:hover,
.search-button:hover {
  background-color: #AECED1;
}

.search-image:active,
.search-button:active {
  background-color: #4BD176;
}

.search-input {
  border: 1px solid #405249;
  font-size: 100%;
  height: 7vh;
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  width: 90%;
}

.add-button {
  background-color: #ECFBFF;
  display: flex;
  width: 12%;
}

.add {
  width: 100%;
}

.hidden {
  display: none;
}

.favorite {
  background-color: #ECFBFF;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.all-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 10px;
  margin: auto;
}

img {
  cursor: pointer;
}

.card {
  background-color: #ECFBFF;
  border: 3px solid #405249;
  width: 100%;
}

.card-header {
  background-color: #ECFBFF;
  border-bottom: 1px solid #405249;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
}
.card-header button {
  border: none;
  height: 2em;
  width: 2em;
  margin: 0 1em;
}
.card-header .add-button {
  margin-top: 0.2em;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: #EBF5EE;
  font-size: 250%;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: 2px solid #405249;
}

.card-picture {
  border: 1px solid #405249;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}

main {
  background-color: #37515C;
  height: 90vh;
  width: 90vh;
  margin: auto;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

/*# sourceMappingURL=styles.scss.map */
