@media only screen and (max-width: 1200px) {
    .all-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 15px;
        margin: auto;
    }
    .user-info {
        color: brown;
    }

}

